h2{
    background-color: rgb(43, 211, 226);
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  
  
  }
  li{
  
      font-size: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      
  }